@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&family=Roboto:wght@100;300;400;500;700;900&display=swap');

header {
    margin: 0;
}

body {
    background-color: #61777F;
}
#logo{ 
    height: 500px;
    width: 500px;
    overflow: hidden;
    margin-left: 400px;
}

body p {
    color: white;
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

body .h1 {
    color: #fafa03;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-style: italic;
    text-align: center;
}
body .h2{
        color: #fafa03;
        font-family: Roboto, sans-serif;
        font-weight: 900;
        font-style: italic;
        text-align: center;
    }
body .h3{
        color: #fafa03;
            font-family: Roboto, sans-serif;
            font-weight: 900;
            font-style: italic;
            text-align: center;
        }
body .h6 {
    color: #fafa03;
        font-family: Roboto, sans-serif;
        font-weight: 900;
        font-style: italic;
        text-align: center;
    }
            
img {
    display: block;
    max-width: fit-content;
    height: auto;
}
.navbar-nav{
    margin-left: 80%;       
}
