@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&family=Roboto:wght@100;300;400;500;700;900&display=swap');

header {
    margin: 0;
}

body {
    background-color: #61777F;
}

#logo {
    height: 400px;
    width: 400px;
    overflow: hidden;
    margin: auto;
    display: block;
        max-width: fit-content;
        height: auto;
}

body p {
    color: white;
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

body .h1 {
    color: #fafa03;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-style: italic;
    text-align: center;
}

body .h2 {
    color: #fafa03;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-style: italic;
    text-align: center;
}

body .h3 {
    color: #fafa03;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-style: italic;
    text-align: center;
}

body .h6 {
    color: #fafa03;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-style: italic;
    text-align: center;
}

img  {
    display: block;
    max-width: fit-content;
    height: auto;
}

.arcade {
    display: block;
    height: auto;
    width: 100%;
    overflow: hidden;
    margin: auto;
    margin-bottom: 10px;
    border-width: 5px;
}

.navbar-nav {
    margin-left: 80%;
}
.nav-link:active .btn:hover {
    color: #fafa03;
    background-color: #61777F;
}
/*https: //stackoverflow.com/questions/8097744/how-do-i-center-this-form-in-css*/
div.form {
    display: block;
    text-align: center;
    color: #fafa03;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-left: 20%;
}
#suggestion-box{
    width: 480px;
    height: 121px;
}

#sfexa{
    height:200px;
    width: 200px;
}
#fotnlp{
    height: 200px;
        width: 200px;
        display: -webkit-box;
        margin-left: auto;
}

#ff6
{height:200px;
width: auto;
}

#ffg{
    height: 200px;
        width: 200px;
        display: -webkit-box;
        margin-left: auto;
}